<div class="padding-top-md">
    <div class="row">
        <div class="col-sm-4 col-sm-push-8">
            <h4>Before you start a discussion...</h4>
            <p>There may be other students who have already asked the same question. You should <span class="codaisseur-color">do a quick search first</span> to make sure your question is unique. </p>
            <p>The best way to get the answers you're looking for is to learn how to ask good questions. Get tips on how to ask good questions to get answers more quickly.</p>
            <p>If you're experiencing what appears to be a bug or something that doesn't seem to be working correctly, please contact support directly.</p>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <div class="content-wrapper">
                <%= render 'form', question: @question %>
                <hr>
                <small>Reference this <a href="http://assemble.io/docs/Cheatsheet-Markdown.html"><b>Markdown Cheatsheet</b></a> for syntax examples for formatting your question.</small>
            </div>
        </div>
        
    </div>
</div>