<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>


<!--      <td><%= image_tag(question.image_url) %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
