
<%= form_for([@question, @question.answers.new], class: 'form-group') do |f| %>
  <%= f.hidden_field :question_id %>
  <div class="field">
    <%= f.text_area :body, class: 'form-control', placeholder: "Add answer details..." %>
  </div>
  <div class="actions">
    <%= f.submit "Post answer", class: 'btn btn-codaisseur' %>
  </div>
<% end %>
