/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Poppins';
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #eee;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;

}

h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.margin-top-sm {
    margin-top: 30px;
}

.margin-top-md {
    margin-top: 60px;
}

.margin-top-lg {
    margin-top: 90px;
}

.padding-top-sm {
    padding-top: 30px;
}

.padding-top-md {
    padding-top: 60px;
}

.padding-top-lg {
    padding-top: 90px;
}

.codaisseur-color {
    color: #c1272d;
}

/* Navbar styling */

.navbar-default {
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.navbar-brand img {
    height:44px;
    margin-top: -10px;
}

@media only screen and (max-width : 768px) {
    .border-top {
        border-top: solid 1px #eee;
    }
    .navbar-default .navbar-text {
    display: none;
    }
    .dropdown-menu li {
        border:none;
    }
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-text {
    color: #c1272d;
}

ul.nav a:hover {
    color: #c1272d !important;
}

.navbar-default .navbar-nav > .active > a {
    color: #c1272d;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.dropdown-menu {
    text-align: center;
}


/* Style Devise login & sign-up page */

.devise-wrapper {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 5px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}

.devise-wrapper a {
    color: #B2BBBD;
}

.btn-codaisseur {
    color: #fff;
    background-color: #c1272d;
}
.btn-codaisseur:hover {
    background-color: #CE2A30;
    color: #fff;
}

.btn-topic {
    background-color: #fff;
    color: #a9a9a9;
    border-color: #a9a9a9;
    font-size: 12px;
    padding: 2px 6px;
}

.btn-topic:hover {
    color: #a9a9a9;
}

.btn-cancel {
    color: #fff;
    background-color: #aaa;
}
.btn-cancel:hover {
    color: #fff;
    background-color: #bbb;
}

.field {
    margin-bottom: 10px;
}

.form-control {
    background-color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

}

.footer-wrapper {
    border-top: 1px solid #e6e6e6;
}

.footer-text {
    margin: 20px 0;
    color: #a9a9a9;
}

.footer-text ul li a {
    color: #a9a9a9;
}

.footer-text ul li a:hover {
    color: #c1272d;
    text-decoration: none;
}

.fa-stack-1x {
    color:#e3e3e3;
}

.footer-text ul li:nth-child(-n+4){
    padding: 0px;
}

/* User management page styling */

.controls-wrapper {
    background-color: #E4E4E4;
    padding: 40px 50px 0px 50px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}

.controls-wrapper2 {
    background-color: #E4E4E4;
    padding: 40px 50px 0px 50px;
    border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}
.table-wrapper {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}

.content-wrapper {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}
.table-users td {
  vertical-align: middle !important;
}

.table-users tr {
    height: 67px;
}

.table-users a.glyphicon {
    color:#333;
    font-size: 17px;
    padding-right: 5px;
}

.table-users a.glyphicon:hover {
    text-decoration: none;
    color:#c1272d;
}

.table tr:first-child td {
    border-top:none;
}

.search-bar {
    background-color: #fff;
    border: none;
    border-radius: 3px !important;
}

.sorting-links {
    margin-top: 30px;
    font-weight: 700;
}

.sorting-links ul li a {
    color: #333;
    cursor: pointer;
}

.sorting-links ul li a:hover {
    color: #c1272d;
    text-decoration: none;
}

.sorting-links ul li.active a{
    color: #c1272d;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}
.avatar-big {
  width: 100px;
  border-radius: 50%;
}
.avatar-teacher {
  border: 4px #c1272d solid;
}
.profile-name {
  vertical-align: middle;

  div {
    display: inline-block;
  }
}

/* Answers page styling */

td.image-col-width {
  width: 80px;
}

.table-question {
  vertical-align: middle;
}
.question-time-ago {

}
.answer-time-ago {
  font-size: 12px;
}
.padding-link{
  padding-top: 20px;
  padding-bottom: 15px;
}

.link-back {
  color: #a9a9a9;
  margin-bottom: 50px;
}
.link-back:hover {
  text-decoration: none;
  color: #c1272d;
}

.answer-content {
  position:relative;
}

.answer-content .buttons {
  position: absolute;
  top: 5px;
  right: 0;
}

.edit-answer-form {
  display: none;
}

.edit-question-form {
  display: none;
}

.btn-submit-wrapper {
  text-align: right;
}

.pagination {
  margin-top: 0px
}

.pagination > .active > span {
    background-color: #c1272d;
    border-color: #c1272d;
}

.pagination > li > a, .pagination > li > span {
    color: #c1272d;
}

.new-question .btn {
    margin-top: 40px;
}

.new-question label {
    margin-top: 15px;
}


/* Questions index */

.table-wrapper a {
    color:#000;
    font-weight: 700;
}

.table-wrapper a:hover {
    color:#c1272d;
    font-weight: 700;
    text-decoration: none;
}

.content-wrapper textarea {
    resize: none;
}
