/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Poppins';
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #eee;
    margin-bottom: 60px;
}

/* Navbar styling */

.navbar-default {
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.navbar-brand img {
    height:44px;
    margin-top: -10px;
}

@media only screen and (max-width : 768px) {
    .border-top {
        border-top: solid 1px #eee;
    }
    .navbar-default .navbar-text {
    display: none;
    }
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-text {
    color: #c1272d;
}

ul.nav a:hover {
    color: #c1272d !important;
}

.navbar-default .navbar-nav > .active > a {
    color: #c1272d;
}

/* Style Devise login & sign-up page */

.devise-wrapper {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}

.btn-codaisseur {
    color: #fff;
    background-color: #c1272d;
}
.btn-codaisseur:hover {
    background-color: #CE2A30;
    color: #fff;
}
.btn-cancel {
    color: #fff;
    background-color: #aaa;
}
.btn-cancel:hover {
    color: #fff;
    background-color: #bbb;
}

.field {
    margin-bottom: 10px;
}

.form-control {
    background-color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

}

.footer-wrapper {
    border-top: 1px solid #e6e6e6;
}

.footer-text {
    margin: 20px 0;
    color: #a9a9a9;
}

.footer-text ul li a {
    color: #a9a9a9;
}

.footer-text ul li a:hover {
    color: #c1272d;
    text-decoration: none;
}

.fa-stack-1x {
    color:#e3e3e3;
}

.footer-text ul li:nth-child(-n+4){
    padding: 0px;
}

/* User management page styling */

.controls-wrapper {
    background-color: #E4E4E4;
    padding: 40px 50px 0px 50px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}
.table-wrapper {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.40);
}
.table-users td {
  vertical-align: middle !important;
}
.search-bar {
    background-color: #fff;
    border: none;
    border-radius: 3px !important;
}

.sorting-links {
    margin-top: 30px;
    font-weight: 700;
}

.sorting-links ul li a {
    color: #333;
    cursor: pointer;
}

.sorting-links ul li a:hover {
    color: #c1272d;
    text-decoration: none;
}

.sorting-links ul li.active a{
    color: #c1272d;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}
.avatar-big {
  width: 100px;
  border-radius: 50%;
}
.avatar-teacher {
  border: 4px #c1272d solid;
}
.profile-name {
  vertical-align: middle;

  div {
    display: inline-block;
  }
}
.btn-submit-wrapper {
  text-align: right;
}
