<footer class="footer">
    <div class="container footer-wrapper">
        <div class="footer-text">
            <div class="pull-left">
                <ul class="list-inline">
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
            <p class="pull-right">© Codaisseur 2016</p>
        </div>
    </div>
</footer>