<footer class="footer">
    <div class="container footer-wrapper">
        <div class="footer-text">
            <div class="pull-left">
               
                <ul class="list-inline">
                    <li><a href="https://twitter.com/codaisseur">   
                        <span class="fa-stack fa-md">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>    
                    </a></li>
                    <li><a href="https://www.facebook.com/codaisseur">   
                        <span class="fa-stack fa-md">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>    
                    </a></li>
                    <li><a href="https://www.linkedin.com/company/development-bootcamp">   
                        <span class="fa-stack fa-md">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>    
                    </a></li>
                    <li><a href="https://github.com/codaisseur">   
                        <span class="fa-stack fa-md">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x"></i>
                        </span>    
                    </a></li>                                                           
                    <li><a href="https://www.codaisseur.com/about">About Codaisseur</a></li>
                    <li><a href="https://www.developmentbootcamp.nl/terms-and-conditions">Privacy Policy</a></li>
                    <li><a href="https://www.developmentbootcamp.nl/terms-and-conditions">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <p class="pull-right">© Codaisseur 2016</p>
        </div>
    </div>
</footer>